/* body{
height:500px;
width:500px;
background-image: url("image2.jpg");
}
img{
    height:500px;
    width:300px;
    position:relative;
    bottom:100px;
    left:900px;
    border-radius: 8px;
}
pre{
    font-size:15px;
    position:relative;
    left:750px;
    height:20px;
    width:660px;
}
a{
    text-decoration: none;
    color:white;
    font-size:18px;
}
a:active{
    color:blue;
}
a:hover{
    color:blue
}
h1{
    color:blue;
   position:relative;
   left:200px;
   top:50px;
   font-size:40px;
}
p{
    color:white;
    position:relative;
    bottom:480px;
    left:200px;
    font-size:20px;
} */